@media (min-width: 670px) {
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0 2rem 0;
}
.heroText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  
  color: #4E5150;
}
.description{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #A9A9A9;
}
.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}
.statsItem{
  margin: 2rem;
  width: 6%;
  background: #E5E5E5;
border-radius: 12px;
}

.statsMain{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.statsDescription{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  
  /* Gray 4 */

  color: #BDBDBD;
}


.profile{
  border-radius: 16px;
}

.gridWrapper{
  display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    gap: 2rem;
    place-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    text-align: center;
    grid-template-areas: 
    "image img img"
    "simg simg ig"
    "dg mg ig";
}

.gridImage{
  border-radius: 12px;
}
.image{
  grid-area: image;
}
.img{
  grid-area: img;
}
.simg{
  grid-area: simg;
}
.ig{
  grid-area: ig;
}
.dg{
  grid-area: dg;
}
.mg{
  grid-area: mg;
}

@media (max-width: 670px) {
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .statsItem{
    margin-right: 1rem;
    margin-left: 1rem;
    width: 10rem;
    background: #E5E5E5;
  border-radius: 12px;
  }
  .header{
    margin-top: 2rem;
  }
  .gridWrapper{
      gap: 0.5rem;
  }
}
